Repository jyj1202/j-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(view): 🚀 add sortable.js demo
  src/layouts/components/Menu/index.vue
  src/router/staticRouter.ts
  src/views/sortable/index.vue
Due: eslint --fix

feat: 🚀 add side menu auto generate by route's meta
  package.json
  pnpm-lock.yaml
  src/layouts/LayoutVertical/index.vue
  src/layouts/components/Menu/index.vue
  src/router/staticRouter.ts
  src/typings/global.d.ts
  src/typings/router.d.ts
  src/views/j-components/select-tree/index.vue
  src/views/j-crud/components/column/JColumnCopy.tsx
  src/views/sortable/index.vue
Due: eslint --fix, prettier --write

feat: 🚀 add custom tree select component
  src/layouts/LayoutVertical/index.vue
  src/views/j-components/select-tree/index.vue
Due: eslint --fix

feat: 🚀 add virtualized list
  src/layouts/LayoutVertical/index.vue
  src/router/staticRouter.ts
  src/views/j-components/select-tree/index.vue
  src/views/j-virtualized-list/index.vue
Due: eslint --fix

feat: 🚀 test vueuse usemodel
  src/layouts/LayoutVertical/index.vue
  src/layouts/components/Menu/index.vue
  src/router/staticRouter.ts
  src/views/vueuse/useVModel/components/CustomForm.vue
  src/views/vueuse/useVModel/index.vue
Due: eslint --fix

feat(util): 🚀 add useLock hook
  src/router/staticRouter.ts
  src/utils/index.ts
  src/views/j-virtualized-list/index.vue
  src/views/utility-functions/useLock.vue
Due: eslint --fix

chore(release): 0.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: video player
  index.html
  package.json
  pnpm-lock.yaml
  public/video1.mp4
  public/video2.mp4
  public/video3.mp4
  src/main.ts
  src/router/staticRouter.ts
  src/views/video.js/player-list.vue
  src/views/video.js/videoSrc.ts
  src/views/video.js/videojs-playlist.css
  src/views/video.js/videojs-playlist.ts
  vite.config.ts
Due: eslint --fix, prettier --write

chore(release): 0.0.2
  CHANGELOG.md
  package.json
Due: prettier --write

feat: 🚀 use html2canvas, file-saver, qr-code
  package.json
  pnpm-lock.yaml
  src/assets/images/weather.jpg
  src/main.ts
  src/router/staticRouter.ts
  src/views/dom-to-image.vue
  src/views/html2canvas.vue
Due: eslint --fix, prettier --write

feat: 🚀 add xgplayer demo
  index.html
  package.json
  pnpm-lock.yaml
  src/layouts/LayoutVertical/index.vue
  src/router/staticRouter.ts
  src/views/html2canvas.vue
  src/views/video.js/videojs-playlist.css
  src/views/video.js/videojs-playlist.ts
  src/views/xgplayer/player-list.vue
  src/views/xgplayer/plugin.css
  src/views/xgplayer/plugin.ts
  src/views/xgplayer/videoSrc.ts
Due: eslint --fix, prettier --write

feat: xgplayer add custom plugin
  src/views/video.js/player-list.vue
  src/views/xgplayer/player-list.vue
  src/views/xgplayer/plugin.css
  src/views/xgplayer/plugin.ts
  src/views/xgplayer/videoSrc.ts
Due: eslint --fix

feat: 🚀 add new page
  package.json
  pnpm-lock.yaml
  src/assets/images/repeat-white.png
  src/main.ts
  src/router/staticRouter.ts
  src/views/animation/fragment/data.json
  src/views/animation/fragment/index.vue
Due: eslint --fix, prettier --write

fix(animation fragment): 🧩 compatiable with mobile
  src/views/animation/fragment/index.vue
Due: eslint --fix

feat: 🚀 add mitt demo
  package.json
  pnpm-lock.yaml
  src/plugins/mitt.ts
  src/router/staticRouter.ts
  src/views/mini-package/mitt/components/Test1.vue
  src/views/mini-package/mitt/components/Test2.vue
  src/views/mini-package/mitt/index.vue
Due: eslint --fix, prettier --write

feat: 🚀 add fake gpt demo
  package.json
  pnpm-lock.yaml
  src/assets/images/avatar.jpg
  src/hooks/useScroll.ts
  src/router/staticRouter.ts
  src/utils/copy.ts
  src/utils/is.ts
  src/views/animation/gpt2/components/Footer.vue
  src/views/animation/gpt2/components/Message/Avatar.vue
  src/views/animation/gpt2/components/Message/Text.vue
  src/views/animation/gpt2/components/Message/github-markdown.scss
  src/views/animation/gpt2/components/Message/highlight.scss
  src/views/animation/gpt2/components/Message/index.vue
  src/views/animation/gpt2/components/Message/style.scss
  src/views/animation/gpt2/data.json
  src/views/animation/gpt2/index.vue
Due: eslint --fix, prettier --write

wip(directive): 🕔 init img lazy load directive
  src/directives/lazyImg.ts
  src/main.ts
  src/router/staticRouter.ts
  src/views/optimization/img-lazy-load/index.vue
Due: eslint --fix

feat: 🚀 init snake graph
  .vscode/extensions.json
  package.json
  pnpm-lock.yaml
  src/assets/icons/arrow.svg
  src/components/SvgIcon.vue
  src/main.ts
  src/router/staticRouter.ts
  src/views/avue/index.vue
  src/views/j-components/snake-graph/index.vue
Due: eslint --fix, prettier --write

feat: add xgplayer progress dot demo
  src/router/staticRouter.ts
  src/views/xgplayer/progress-dot.vue
Due: eslint --fix

fix: 🧩 fix xgplayer play list demo
  src/views/xgplayer/player-list.vue
  src/views/xgplayer/playlist.css
  src/views/xgplayer/playlist.ts
Due: eslint --fix

feat: init gpt chat demo
  package.json
  src/views/animation/gpt2/index.vue
Due: eslint --fix, prettier --write

fix(snake-graph): 🧩 fix endless loop when there is only one column
  src/views/j-components/snake-graph/index.vue
Due: eslint --fix

fix: modify base
  vite.config.ts
Due: eslint --fix

fix: 🧩 fix static resource path
  src/main.ts
  src/views/xgplayer/playlist.ts
Due: eslint --fix

fix: 🧩 fix static resource path
  src/main.ts
Due: eslint --fix

fix: 🧩 fix a part of ts type errors
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/typings/aplayer.d.ts
  src/typings/global.d.ts
  src/views/dom-to-image.vue
  src/views/j-crud/components/JCrud.vue
  src/views/j-crud/components/utils/keys.ts
Due: eslint --fix, prettier --write

chore: 🔨 modify the commit script to only czg
  package.json
Due: prettier --write

wip(snake graph): 🕔 rewrite to component
  src/views/j-components/snake-graph/components/ColumnItem.vue
  src/views/j-components/snake-graph/components/RowItem.vue
  src/views/j-components/snake-graph/components/SnakeGraph.vue
  src/views/j-components/snake-graph/components/utils/index.ts
  src/views/j-components/snake-graph/index.vue
Due: eslint --fix

wip: 🕔 snake graph
  src/views/j-components/snake-graph/components/ColumnItem.vue
  src/views/j-components/snake-graph/components/RowItem.vue
  src/views/j-components/snake-graph/components/SnakeGraph.vue
  src/views/j-components/snake-graph/components/index.ts
  src/views/j-components/snake-graph/index.vue
  src/views/j-components/snake-graph/indexcopy.vue
Due: eslint --fix

wip(snake graph): 🕔 add test case
  package.json
  src/views/j-components/snake-graph/components/SnakeGraph.vue
  src/views/j-components/snake-graph/test/SnakeGraph.test.ts
  src/views/j-components/snake-graph/test/utils.test.ts
Due: eslint --fix, prettier --write

chore: 🔨 config vitest vscode debug
  .vscode/launch.json
  package.json
  src/main.ts
Due: eslint --fix, prettier --write

wip: 🕔 init vortex graph
  package.json
  pnpm-lock.yaml
  src/router/staticRouter.ts
  src/views/j-components/snake-graph/index.vue
  src/views/j-components/snake-graph/indexcopy.vue
  src/views/j-components/vortex-graph/components/ColumnItem.vue
  src/views/j-components/vortex-graph/components/RowItem.vue
  src/views/j-components/vortex-graph/components/VortexGraph.vue
  src/views/j-components/vortex-graph/components/index.ts
  src/views/j-components/vortex-graph/index.vue
  src/views/j-components/vortex-graph/test/utils.test.ts
  src/views/j-components/vortex-graph/utils/index.ts
Due: eslint --fix, prettier --write

ci: github workflow
  .github/workflows/deploy.yml
Due: none

fix: 🧩 remove useless content of snake graph and vortex graph
  src/views/j-components/snake-graph/components/ColumnItem.vue
  src/views/j-components/snake-graph/components/RowItem.vue
  src/views/j-components/snake-graph/components/SnakeGraph.vue
  src/views/j-components/snake-graph/index.vue
  src/views/j-components/vortex-graph/components/ColumnItem.vue
  src/views/j-components/vortex-graph/components/RowItem.vue
  src/views/j-components/vortex-graph/components/VortexGraph.vue
  src/views/j-components/vortex-graph/index.vue
Due: eslint --fix

fix(theme color): 🧩 fix theme color of dark mode
  src/layouts/components/SettingDrawer/index.vue
Due: eslint --fix

fix: 🧩 fix img load component and waterfall
  src/assets/images/waterfall/min/01.jpg
  src/assets/images/waterfall/min/02.jpg
  src/assets/images/waterfall/min/03.jpg
  src/assets/images/waterfall/min/04.jpg
  src/assets/images/waterfall/min/05.jpg
  src/assets/images/waterfall/min/06.jpg
  src/assets/images/waterfall/min/07.jpg
  src/assets/images/waterfall/min/08.jpg
  src/assets/images/waterfall/min/09-min.jpg
  src/assets/images/waterfall/min/09.jpg
  src/assets/images/waterfall/min/10.jpg
  src/assets/images/waterfall/min/11.jpg
  src/assets/images/waterfall/min/12.jpg
  src/assets/images/waterfall/min/13.jpg
  src/assets/images/waterfall/min/14.jpg
  src/assets/images/waterfall/min/15.png
  src/assets/images/waterfall/min/16.jpg
  src/assets/images/waterfall/min/17.jpg
  src/assets/images/waterfall/min/18-min.jpg
  src/assets/images/waterfall/min/18.jpg
  src/assets/images/waterfall/min/19.jpg
  src/assets/images/waterfall/min/20.jpg
  src/components/ImgLoad.vue
  src/router/staticRouter.ts
  src/views/j-components/img/load.vue
  src/views/j-components/waterfall/components/Waterfall.vue
Due: eslint --fix

fix: 🧩 fix incorrect path of static asset references in the public dir
  src/main.ts
  src/views/animation/gpt2/components/Footer.vue
  src/views/animation/gpt2/index.vue
  src/views/j-components/waterfall/index.vue
  src/views/video.js/videoSrc.ts
  src/views/xgplayer/progress-dot.vue
  src/views/xgplayer/videoSrc.ts
  vite.config.ts
Due: eslint --fix

ci: 🎡 upgrade actions related to upload-artifact
  .github/workflows/deploy.yml
Due: none

fix: 🧩 remove gsap menu
  src/router/staticRouter.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{vue,js,jsx,cjs,mjs,ts,tsx,cts,mts}
  prettier --write: ((any of: package.json) or (any of: *.{scss,less,styl})) or (any of: *.md)
